<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <img class="navbar-brand header-icon" src="./assets/path610.png">
    <!-- <a class="navbar-brand" href="#">Plate Chart</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container titleContainer">
  <h1>Barbell Plate Loading Chart</h1>
</div>

<div class="container formContainer">
  <form>
    <div class="platesFormGroupContainer">
      <div class="form-group" *ngFor="let plate of getSortedKeys(plateColors)">
        <label for="plateInput">
          <span class="numberCircle"
          [ngStyle]="{'color': plateColors[plate].fg, 'background-color': plateColors[plate].bg}">
            <span class="numberText">
              {{plate}}
            </span>
          </span>
        </label>
        <input type="number" class="form-control" id="plateInput"
        (change)="dataChangedPlates(plate, $event)" [value]="plates[plate] || 0">
      </div>
    </div>
    <div class="miscFormGroupContainer">
      <div class="form-group">
        <label for="barWeightInput">Bar Weight</label>
        <input type="number" class="form-control" id="barWeightInput"
        (change)="dataChangedBarWeight($event)" [value]="barWeight">
      </div>
      <div class="form-group">
        <label for="maxWeightInput">Max Weight</label>
        <input type="number" class="form-control" id="maxWeightInput"
        (change)="dataChangedMaxWeight($event)" [value]="maxWeight">
      </div>
      <div class="form-group">
        <label for="incrementInput">Increment</label>
        <input type="number" class="form-control" id="incrementInput"
        (change)="dataChangedIncrement($event)" [value]="increment">
      </div>
      <div class="form-group">
        <label for="numColumnsInput"># of Columns</label>
        <input type="number" class="form-control" id="numColumnsInput"
        [(ngModel)]="numColumns" name="numColumns" [value]="numColumns">
      </div>
    </div>
  </form>
</div>

<main class="container tableContainer" [ngStyle]="{'column-count': numColumns}">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Plates</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weight of getSortedKeys(combinations)">
        <th scope="row">{{weight}}</th>
        <td>
          <span *ngFor="let plate of combinations[weight]" class="numberCircle"
          [ngStyle]="{'color': plateColors[plate].fg, 'background-color': plateColors[plate].bg}">
            <span class="numberText">
              {{plate}}
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</main>
