.header-icon {
  width: 32px;
  height: auto;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: none;
}

.titleContainer {
  padding-top: 5rem;
}

.formContainer {
  padding-top: 1rem;
}

.tableContainer {
  padding-top: 2rem;
  column-count: 4;
  max-width: none;
}

// https://stackoverflow.com/questions/38900332/css-circles-with-a-number/38900545
.numberCircle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 2.5px 2.5px 2.5px 2.5px;
  border: 1px solid #878787;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.0rem;
}

.numberText {
  position: relative;
  top: -1px;
}

tr, th, td {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  vertical-align: middle;
}

th, td {
  padding-left: 0.75rem;
  padding-right: 0rem;

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.platesFormGroupContainer {
  column-count: 9;
  padding-top: 1rem;
}

.miscFormGroupContainer {
  column-count: 5;
}

input, select {
  width: 100px;
}

h1 {
  display: inline;
}

.toggleFormText {
  cursor: pointer;
}
